body {
	width: 100%;
	height: 100%;
	background: #4d4d7d;
	display: block;
}
#timer {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
}
#dot {
	width: 20px;
	height: 20px;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.1s linear;
}

.food {
	width: 20px;
	height: 20px;
	background: red;
	position: absolute;
}
